*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #2b4f51);
}
.card{
    padding: 20px;
    border: 1px solid rgb(231, 15, 15);
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgb(69, 69, 69);
    text-align: center;
}

input{
    width: 320px;
    padding: 15px;
    background: transparent;
    border: none;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
    margin: 25px 15px;
    box-shadow: 3px 3px 15px rgba(27, 27, 27, 0.5);
}

input::placeholder{
    color: white;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    border:none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgb(27, 27, 27, 0.7) ;
}
.operator{
    color: red;
}
button:hover{
    background-color: rgb(61, 168, 145);
}
h1{
    text-align: center;
    margin: 30px;
    font-size: 50px;
    background: linear-gradient(180deg, red 30%, rgb(173, 17, 235) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer{
    text-align: center;
    margin-top: 50%;
    color: grey;
}
